# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.env.*
*.sqlite3

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# FAISS DB
vectorstore/db_faiss/
